# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# misc
assets/
*.jar.bak
Gallium.zip
Enchantment-Outline1.10.2.zip
glowmyblocks-1.3.0.jar
*.png
!src/main/resources/**/*.png

# Agent
.claude/